body {
    background-color: rgb(188, 184, 200);
    margin: 0;
}
.about-section {
    display: flex;
    flex-flow: column wrap;
}
.about-heading {
    text-align: center;
    font-size: 260%;
    font-family: sans-serif;
}
.about-paragraph {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(141, 140, 251);
    box-shadow: 0px 0px 7px;
    padding: 10px;
    font-size: 125%;
    font-family: sans-serif;
}
.image-container {
    display: flex;
    justify-content: center;
}
.about-logo {
    padding-top: 40px;
    width: 15%;
}