@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(221, 221, 255);
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(82, 82, 92);
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px 15px;
    color: #fff;
    font-size: 1em;
    text-decoration: underline rgba(0, 0, 0, 0);
    text-underline-offset: 0.1rem;
    transition: 0.3s ease;
}

li a:hover {
    background-color: rgb(255, 110, 110);
    text-decoration: underline rgba(255, 255, 255, 1);
    transition: 0.3s ease;
}

.icon {
    position: absolute;
    font-size: 2em;
    margin: 0.5rem;
}

.fas {
    color: #fff;
    transition: 0.2s ease;
}

.fas:hover {
    font-size: 2.3rem;
    transition: 0.2s ease;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1 {
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.h1 h1 {
    font-weight: 900;
}

.one {
    text-align: center;
}

.one h2 {
    font-weight: 500;
}

.img {
    padding: 20px;
}
.form {

}

.footer {
    position: fixed; 
    width:100%;
    padding: 10px;
    left:0;
    bottom:0;
    text-align: center;
    background-color: rgb(82, 82, 92);
    color: #fff;
    font-style: italic;
}