ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: crimson;
}
li {
    float: right;
}
li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px 15px;
}
li a:hover {
    background-color: coral;
}