@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px
}

.shipping {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.billing {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.payment {
    display: flex;
    flex-direction: column;
    margin: 20px;
}