body {
    margin: 0;
}
.product-heading {
    text-align: center;
}
.fusion-concept-container {
    display: flex;
    justify-content: center;
}
.fusion-concept-art {
    box-sizing: border-box;
    border: 1px solid black;
}
.product-introduction {
    display: flex;
    flex-flow: column wrap;
}
.introduction-paragraph {
    text-align: center;
    font-family: sans-serif;
    font-size: 120%;
    line-height: 1.8;
    padding-left: 15px;
    padding-right: 15px;
}